
h2  {
    color : red;
}

  .header 
  {
    background-color:rgb(217, 255, 0) ;
    display : flex;
    justify-content: space-between;
    
  }     
  .grid
  {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
    background-color: springgreen;
  }    

  .footer
  {
      display: flex;
      justify-content: flex-end;
      background-color: violet;

  }

  p,h2
  {
     text-align: center;
  }

  